 h1 {
 font-weight: bold;
 font-size: 50px;
 text-align: center;
 }

header {
 text-align: center;
 line-height:0px;
 margin-top:0px;
} 

img {
 max-width: 100%;
 height: auto;
 margin-bottom:50px;
}

p {
 margin-top:0px;
 margin-left: 30%;
 margin-right: 30%;
 text-align: justify;
}

.btns{
 text-align: center; 
}

.miseenpage{
 text-align: center;
}


